*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
.wrapper {
    width: 300px;
    height: 60px;
    border: 1px solid;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.btn{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: -5px;
    transition: 1s;
}


/* light mode in the right side and dark mode in the left side */
span > .content{ 
    font-size: 40px;
    color: black;
    margin-bottom: 10px ;
    
    
}
 .light__mode{
    margin-top:5px ;
    font-size: 25px;
    
} 
.content {
    font-size: 25px;
}
.dark__mode {
    margin-top:5px ;
    font-size: 25px;
    display: none;
}
.light__mode__transform{
    background-color:white;
    color: black;

}
.btn__light__transform{
    color: black;
    background-color: black;
    transform: translateX(0);
}




.dark__mode__transform{
    background-color: black;
    color: white;
}
.btn__dark__transform{
    background-color: white;
    transform: translateX(247px);
}
